version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 5
    groups:
      jest:
        patterns:
          - 'jest'
          - 'babel-jest'
          - 'ts-jest'
          - '@types/jest'
      rollup:
        patterns:
          - 'rollup'
          - 'rollup-*'
          - '@rollup/*'
      babel:
        patterns:
          - '@babel/*'

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    cooldown:
      default-days: 5
    groups:
      upload-download-artifact:
        patterns:
          - 'actions/upload-artifact'
          - 'actions/download-artifact'
