{
  "presets": [
    ["es2015", {"modules": false, "loose": true}]
  ],
  "env": {
    "rollup": {
      "plugins": [
        "external-helpers"
      ]
    },
    "test": {
      "presets": [
        ["es2015", {"modules": "commonjs", "loose": true}]
      ]
    }
  }
}
