name: CI

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CI: true

jobs:
  test-and-build:
    name: Test and build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'

      - run: npm ci

      - uses: actions/upload-artifact@v5
        with:
          name: code-coverage
          path: coverage

  upload-code-coverage:
    name: Upload code coverage
    needs: ['test-and-build']
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/download-artifact@v6
        with:
          name: code-coverage
          path: coverage

      - uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
