name: Dependabot auto merge

on:
  pull_request:

jobs:
  dependabot-auto-merge:
    name: 'Dependabot auto merge'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
    steps:
      - uses: fastify/github-action-merge-dependabot@v3
        with:
          target: minor
          use-github-auto-merge: true
